<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>zph.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FDC9E9281E0A9A620016E9FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDC9E9411E0A9A620016E9FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDC9E94C1E0A9A620016E9FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
